html{
    background-color: black;
}

body{ /* cascading style for body-element */
    margin: 0;
    padding: 0;
    background-size: cover;
    background-color: black;
}
.box{ /* cascading style for box-element */
    width: 450px;
    background: rgba(0,0,0,0.4);
    padding: 40px;
    text-align: center;
    margin: auto;
    margin-top: 5%;
    color: white;
    font-family: 'Century Gothic', sans-serif;
}
.box-img{ /* cascading style for image-element */
    border-radius: 50%;
    width: 300px;
    height: 300px;
}
.box h1{ /* cascading style for h1-element */
    font-size: 40px;
    letter-spacing: 4px;
    font-weight: 100;
}
.box h5{ /* cascading style for h5-element */
    font-size: 20px;
    letter-spacing: 3px;
    font-weight: 100;
}
.box p{ /* cascading style for paragraph-element */
    text-align: justify;
}
ul{ /* cascading style for ul-element */
    border: 1px solid white;
    margin: 0;
    padding: 0;
}
.box li{
    bordeR: 1px solid white;
    display: inline-block;
    margin: 40px;
    list-style: none;
}
.box li a{
    color: rgb(27, 76, 113);
    text-decoration: none;
    font-size: 20px;
    transition: all ease-in-out 250ms;
}
.box li a:hover{
    color: #b9b9b9;
}