html{
    background-color: black;
}

body{ /* cascading style for body-element */
    margin: 0;
    padding: 0;
    background-size: cover;
    background-color: black;
}
.box{ /* cascading style for box-element */
    width: 800px;
    background: black;
    padding: 40px;
    text-align: center;
    margin: auto;
    margin-top: 5%;
    color: white;
    font-family: 'Century Gothic', sans-serif;
}
.box-img{ /* cascading style for image-element */
    border-radius: 50%;
    width: 300px;
    height: 300px;
}
.box h1{ /* cascading style for h1-element */
    font-size: 40px;
    letter-spacing: 4px;
    font-weight: 100;
}
.box h5{ /* cascading style for h5-element */
    font-size: 20px;
    letter-spacing: 3px;
    font-weight: 100;
}
.box p{ /* cascading style for paragraph-element */
    text-align: justify;
}

.box li{
    border: 1px white;
    display: inline-block;
    list-style: none;
    width: 50px;
}
.box li a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 20px;
    transition: all ease-in-out 250ms;
    width: 20px;
}
.ghub-img{
    width: 30%;
    display: block;
    margin: auto;
}
.box li a:hover{
    color: #b9b9b9;
}