
.Links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.Links a {
    text-decoration: none;
    color: #333;
    background-color: #f0f0f0;
    padding: 10px 15px;
    margin: 5px 0;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.Links a:hover {
    background-color: #333;
    color: #fff;
}

.icon {
    width: 100px; 
    height: 100px;
    margin-right: 8px;
    vertical-align: middle;
}

.about-container h1{
    color: var(--primary-color);
}