:root {
    --image-size: 700px;
    --primary-color: #232136;
    --secondary-color: #faf4ed;
    --border-radius: 20%;
    --padding: 20px;
    --margin: 50px;
    --navbar-height: 3100px; /* 15.07.24: For å offsette innholdet litt nedover pga navbar, må finne en annen løsning senere.*/
    --border-color: rgba(156, 207, 216, 0.7); 
    --border-thickness: 30px;
}

.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: var(--margin);
    padding-top: var(--navbar-height);
}

.home-content {
    display: flex;
    align-items: center;
    max-width: 800px;
    margin-bottom: 40px;
    background-color: var(--secondary-color);
}

.home-image {
    margin-right: 40px;
}

.home-image img {
    border-radius: var(--border-radius);
    height: calc(var(--image-size) * 1.4);
    width: calc(var(--image-size) * 1.1);
    display: block; /* Ensure there's no extra space below the image */
    border-top: var(--border-thickness) solid var(--border-color);
    border-left: var(--border-thickness) solid var(--border-color);
    border-right: 0;
    border-bottom: 0;
    margin-top: calc(-1 * var(--border-thickness));
    margin-left: calc(-1 * var(--border-thickness));
    box-shadow: var(--border-thickness) var(--border-thickness) 0 var(--border-color);
}

.home-text {
    text-align: left;
    color: var(--primary-color);
}

.home-text h1, .home-text h2 {
    margin: 0;
}

.home-text p {
    margin-top: 10px;
}

.timeline {
    position: relative;
    max-width: 800px;
    width: 100%;
    margin: 40px auto;
    padding: 10px 0;
    z-index: -1;
}

.timeline::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 2px;
    background: var(--primary-color);
    transform: translateX(-50%);
}

.timeline-item {
    position: relative;
    width: 50%;
    padding: 20px 40px;
    box-sizing: border-box;
}

.timeline-item.left {
    left: 0;
    text-align: left;
}

.timeline-item.right {
    left: 50%;
    text-align: left;
}

.timeline-item::before {
    content: '';
    position: absolute;
    top: 20px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: var(--primary-color);
    border: 4px solid var(--secondary-color);
}

.timeline-item.left::before {
    left: 100%;
    transform: translateX(-50%);
}

.timeline-item.right::before {
    left: 0px;
    transform: translateX(-50%);
}

.timeline-content {
    background: var(--secondary-color);
    padding: 20px;
    border-radius: 6px;
    position: relative;
}

.timeline-content h3 {
    margin-top: 0;
    color: var(--primary-color);
}

.timeline-content h4 {
    margin-top: 0;
    color: var(--primary-color);
}

.timeline-content p {
    margin: 5px 0;
    color: var(--primary-color);
}