:root{
  --primary-color: #333;
  --secondary-color: #f0f0f0;
}

.nav {
    width: auto;
    position: fixed;
    top: 0px;
    height: 100px;
    background-color: transparent;
    color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 0 1rem;
    border-bottom: 0px solid #222;
    left: 0;
    right: 0;
  }
  
  .site-title {
    font-size: 2rem;
  }
  
  .nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
  }
  
  .nav li {
    font-size: 1.5rem;    
  }  
  
  .nav a {
    color: inherit;
    text-decoration: none;
    padding: 0.5rem 1rem;
  }
  
  .nav li.active {
    background-color: #555;
    border-bottom: 2px solid white;
  }
  